@tailwind base;
@tailwind components;
@tailwind utilities;


.main-play{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: skyblue;
}

.img-part{
    width: 40%;
    height: 100%;
    float: left;
}

.text-part{
    width: 60%;
    height: 100%;
    float: right;
}


.img-part > img{
    margin: auto;
    justify-content: center;
    padding: 30px;
    width: 360px;
    height: 360px;
    border-radius: 2%;
}

.content-area{
    border-radius: 20px;
    background-color: white;
    width: 100vw;
    height: 80vh;
    margin: 100px;
    box-shadow: 0 30px 10px rgb(0, 0, 0 / 0.2);
}