.main{
    height: 100vh;
    width: 100vw;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #title{
        font-size: 1.4rem;
    }
    #subtitle{
        
    }
}